/*Sobreescritura de estilos de bootstrap */
.bg-white{
    background-color: rgba(246,199,0,255) !important;
}
/* .bg-white\/30{
    background-color: rgba(150, 150, 150, 0.8) !important;
}
.bg-white\/50{
    background-color: rgba(150, 150, 150, 0.8) !important;
} */
