.filter_panel{
    width: 100%;
    color: black;
}
.filter_panel section{
    background-color: #ffffff;
    padding: 14px 16px;
    border-radius: 8px;
    margin-bottom: 20px
}
.filter_panel h4{
    font-size: 18px !important;
    font-weight: 600 !important;

}
.filter_btns{
    max-height: 36px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.btn_filter{
    padding: 6px 12px;
    color: white;
    border-radius: 5px;
}
.btn_search{
    background-color: rgb(25 135 84);
    flex: 1;
}
.btn_search:hover{
    background-color: rgb(21, 115, 71);
}
.btn_erase{
    background-color: rgb(220, 53, 69);
}
.btn_erase:hover{
    background-color: rgb(187, 45, 59);
}