:root {
    --bg-content: rgba(0,0,0,0.9);
    --font-primary: hsl(0, 0%, 100%);
    --color-title: #f6c700;
    --bg-hover: rgba(121, 121, 121, 0.2);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .card {
    color: var(--font-primary);
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 500ms ease;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
  }
  
  .card_content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-content);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    padding: 1rem 0.8rem 1.1rem 1.1rem;
    gap: 0.5rem;
  }
  .card_content::-webkit-scrollbar{
    width: 3px;
  }

  .card_content > * {
    transform: translateY(15px);
    transition: transform 0.6s;
  }
  .card_content:hover{
    opacity: 1;
  }
  .card_content:hover > * {
    transform: translateY(0);
  }
  .card_title {
    font-size: 1.1rem !important;
    color: var(--color-title);
    font-weight: 600 !important;
    position: relative;
  }
  .card_body {
    color: rgb(255, 255, 255/0.85);
    font-size: 0.8rem;
    line-height: normal;
    overflow: auto;
    scrollbar-width:thin;
    scrollbar-color: #ffffff transparent;
    scrollbar-gutter: stable;
    padding-right: 0.3rem;
  }
  .btn_a {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--font-primary);
    padding: 0.25rem 0.3rem;
    border-radius: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 0.7rem;
    gap: 0.2rem;
    margin-left: auto;
    margin-bottom: 0.3rem;
  }
  .btn_a span{
    margin-top: 0.1rem;
  }
  
  .card_content:hover .btn_a{
    background-color: var(--bg-hover);
  }
  
  .btn_a:hover{
    color: var(--mdb-link-hover-color);
    text-decoration: none;
  }
  @media (max-width: 520px) {
    .card_title {
      font-size: 0.9rem !important;
    }
    .card_body {
      font-size: 0.7rem;
    }
}
  