:root {
    --nav-bgcolor: #6e779c;
}
.nav{
    background-color: var(--nav-bgcolor);
}
.brand{
    color: whitesmoke;
}
.brand_svg{
    width: 60px;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.searchBar{
    max-width: 600px;
    margin: auto;
}
.searchInput{
    border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius) !important;
}
.searchBtn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.navlink_a{
    color: inherit !important;
    background-color: inherit !important;
}
.navlink_a:hover{
    color: var(--bs-dropdown-link-hover-color) !important;
    background-color: var(--bs-dropdown-link-hover-bg) !important;
}
@media (max-width: 1400px) {
    .peopleTab > div{
        left: -60px !important;
    }
}