:root {
    --nav-bgcolor: #6e779c;
}
.nav{
    background-color: var(--nav-bgcolor);
}
.brand{
    color: whitesmoke;
}
.brand_svg{
    width: 60px;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.searchBar{
    max-width: 600px;
    margin: auto;
}
.searchInput{
    border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius) !important;
}
.searchBtn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.peopleTab .dropdown-menu{
    left: -55px !important;
}